<Route handler={App} path="/">
  <DefaultRoute handler={Home} />
  <Route name="about" handler={About} />
</Route>

...

<Route component={App} path="/">
  <IndexRoute component={Home} />
  <Route name="about" component={About} />
</Route>
