this.context.router.transitionTo(pathname, params, query)
this.context.router.transitionTo('user',
                                  { userId: 1234 },
                                  { message: 'Hi' });

...

this.context.router.transitionTo(pathname, query, state)
this.context.router.transitionTo('/user/1234',
                                  { message: 'Hi' });
