// without jsx
<script type="text/javascript">
var MyApp = React.createClass({
  render: function() {
    return React.createElement(
      "h1",
      null,
      "Hello React!!"
    );
  }
})

ReactDOM.render(React.createElement(MyApp, null), document.getElementById('content'));
</script>
</body>
</html>
