// without jsx
<script type="text/javascript">
var MyApp = React.createClass({
  render: function() {
    return (
    return React.createElement(
    'h1',
    null,
    'Hello React!!'
  );
  }
})

React.render(React.createElement(MyApp, null), document.getElementById('content'));
</script>
</body>
</html>
