<Route handler={App} path="/">
  <Redirect from="/user/me" to="user" params={userId: '1234'} />
  <Route name="user" path="/user/:userId" handler={User} />
</Route>

...

<Route component={App} path="/">
  <Redirect from="/user/me" to="user/1234" />
  <Route path="user/:userId" component={User} />
</Route>
