return (
  <div>
    {successBox}
    <label htmlFor="random_number">{this.props.label}</label>
    <input id="random_number" ref="random_number" type="text" name="random_number" />
    <button id="subBtn" onClick={this.handleClick}>Send</button>
  </div>
);
