const link = this.context.router.makeHref('user',
                                          { userId: 1234 },
                                          { message: 'Hi' });

...

const link = this.context.router.createHref('/user/1234',
                                          { message: 'Hi' });
