Router.run(routes, (Handler) => {
  React.render(<Handler/>, document.body);
})

...

import { history } from 'react-router/lib/HashHistory';

React.render((
  <Router history={history}>
    {routes}
  </Router>
), document.body);
